@charset "utf-8";
/* CSS Document */

#welcome{
	background-image: url(../images/home.jpg);
	background-position:center left;
	background-repeat:no-repeat;
	min-height:600px;	
}

#intro{
	width:400px;
	float:right;
	margin-top:20px;	
}

#intro #user-menu{
	padding:10px 0 10px 0;
	margin:0 auto;
	/*border-bottom:2px solid #FF0;*/
}

#intro .home-welcome{
	width:auto !important;
}

#intro .home-welcome-bsd{
	width:270px !important;
}

#intro #user-menu li{
	display:inline-block;
	margin:0 10px;
	width:100px; height:100px;
	text-align:center;
}

#intro #user-menu li a{
	display:block;
	margin:0 auto;
	padding-top:100px;
	color:#2a72cc;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	background-size:contain !important;
	background-position:center top !important;
}

#intro #user-menu li:hover a{
	color:#333;	
}

#intro #nav{
	margin:0;
}

#intro #nav p{
	font-size:12px;	
	/*text-decoration:underline;*/
	margin:0;
	background:#2A72C7;
	padding:5px 15px 5px 10px;
	color:#FFF;
	border-radius:3px;
}

#login-info ul li{
	margin:5px 0;	
}